*{
    margin: 0;
    padding: 0;
}
section {

  line-height: 40px;
  background: #c80000;
  width: 300px;
  height: 300px;
  color: #ccc;
  transition: 1s transform;
  margin: auto;

}

section.translate:hover {
  transform:translate(100px,10px);
  -webkit-transform:translate(100px,10px);
}


section.scale:hover {
  transform:scale(1.5,1.5);
  -webkit-transform:scale(1.5,1.5);
}

section.rotate:hover {
  transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
}


section.translate3d:hover {

  transform:translate3d(100px,100px,45px);
  -webkit-transform:translate3d(100px,100px,45px);
}
